<form action='/games/<%= @game.id %>' method="post">

    <br>Game name: <input type="name" name="gamename" placeholder="game name"><br>
    <br>Genre:<input type="genre" name="genre" placeholder="Genre"><br>
    <br>Developer:<input type="name" name="developer" placeholder="developer"><br>
    <br>publisher<input type="name" name="publisher" placeholder="publisher"><br>

    <input type="submit" value="update">

  </form>