<h3>Here are all your games. Would you like to add a new game </h3>
<div>
<a href="games/new">Add New Game</a>

<h2>Your games</h2>

<div class="games">
<% @games.each do |game| %>
        <h5><a href="games/<%= game.id%>"><%= game.name%> <a></h5>
<% end %></div>
<br><br>
<a href="games/new">Add New Game</a>